DB_HOST=localhost
DB_PORT=5432
DB_NAME=migrant_support
DB_USER=your_postgres_username
DB_PASSWORD=
DATABASE_URL=postgresql://your_postgres_username:your_password@localhost:5432/migrant_support
JWT_SECRET=your_jwt_secret
SMTP_HOST=in-v3.mailjet.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=
